html{
	width: 100%;
	
}

body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #333333;
	overflow: hidden;
	min-width: 100%;
}

@media only screen and (max-width: 2000px){


.header_conteiner{
	width: 100%;
	height: 2vw;
	background-color: #fff;

}


.section_conteiner{
	width: 100%;
	height: 100vw;
	background-color:#43256f;
	margin-bottom: 3px ;
	overflow: hidden;
	
	
}

h6{
    font-size: 3.5em;
    margin: 20px auto 10px;

    letter-spacing: 4px;
	font-weight: 800;
	font-family: 'PT Sans', sans-serif !important;
	padding-top: 3px;
	color: #f1bb51;
	word-wrap: break-word;
	position: relative;
	display: table;
}

h2{
	display: table;
	position: relative;
	justify-content: ;
	font-size: 4.5rem;
	letter-spacing: 3px;
	font-weight: 700;
	margin: 15px auto 0px auto;
	font-family: Raleway, sans-serif;
	color: #ffffff;
	overflow: hidden;

}


.barra_amarilla{
	width: 20%;
	height: 6px;
	transform-origin: right center;
	margin: 20px auto 0px;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;
	border-color: #f1bb51;
	border-width: 2px;
	border-style:solid;
	background-color:#f1bb51;
}

.conteiner_imagenes{
	display: grid;
	grid-template-columns: repeat(3, 1fr)  ;
	grid-gap: 1px;
	margin: 75px 0px 0px 0px;
	width: 100%;

}


.conteiner_imagenes_div1{
    display: block;
    position: relative;
    width: 80%;
	height: 42em;
	background-color:#633974 ;
	margin: auto;
 }




.imagen1{

	display: block;
	object-fit: cover;
	vertical-align: middle;
	position: relative;
	border-width: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 20em;
	margin: 15px auto;
	overflow: hidden;
	width:90%;
}


.texth3{
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 3.1rem;
	margin: 10px auto 0 20px;
	font-family: Raleway, sans-serif !important;
	color: #f1bb51 ;
	word-wrap: break-word;
	position: relative;
}


.textp{
	font-style: italic;
	font-size: 1.8em;
	font-weight: 300;
	margin: 15px auto 0 20px;
	padding-bottom: 40px;
	color: #fff;

}



a{ 

	background-image: none;
    border-style: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: 2px;
    margin: 40px auto 0 20px;
    background-color: #f1bb51;
    color: #3c2e51;
    text-decoration: none;
    padding: 10px 20px ;
    transition: background-color 1s;

}


a:hover{
	background-color: #F39C12 ;
}

}



@media only screen and (max-width: 1400px) {


.header_conteiner{
	width: 100%;
	height: 2vw;
	background-color: #fff;

}


.section_conteiner{
	width: 100%;
	height: 40em;
	background-color:#43256f;
	margin-bottom: 3px ;
	overflow: hidden;
	
	
}

h6{
    font-size: 1.5em;
    margin: 20px auto 10px;

    letter-spacing: 4px;
	font-weight: 800;
	font-family: 'PT Sans', sans-serif !important;
	padding-top: 3px;
	color: #f1bb51;
	word-wrap: break-word;
	position: relative;
	display: table;
}

h2{
	display: table;
	position: relative;
	justify-content: ;
	font-size: 2.1rem;
	letter-spacing: 3px;
	font-weight: 700;
	margin: 15px auto 0px auto;
	font-family: Raleway, sans-serif;
	color: #ffffff;
	
	overflow: hidden;

}


.barra_amarilla{
	width: 250px;
	height: 4px;
	transform-origin: right center;
	margin: 20px auto 0px;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;
	border-color: #f1bb51;
	border-width: 2px;
	border-style:solid;
	background-color:#f1bb51;
}

.conteiner_imagenes{
	display: grid;
	grid-template-columns: repeat(3, 1fr)  ;
	grid-gap: 1px;
	margin: 40px 0px 0px 0px;
	width: 100%;

}


.conteiner_imagenes_div1{
    display: block;
    position: relative;
    width: 80%;
	height: 440px;
	background-color:#633974 ;
	margin: auto;
 }




.imagen1{

	display: block;
	object-fit: cover;
	vertical-align: middle;
	position: relative;
	border-width: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 180px;
	margin: 15px auto;
	overflow: hidden;
	width:90%;
}


.texth3{
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 2.3rem;
	margin: 10px auto 0 11px;
	font-family: Raleway, sans-serif !important;
	color: #f1bb51 ;
	word-wrap: break-word;
	position: relative;
}


.textp{
	font-size:1.4em;
	font-style: italic;
	font-weight: 300;
	margin: 10px auto 0 11px;
	padding-bottom: 40px;
	color: #fff;

}



a{ 

	background-image: none;
    border-style: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 2px;
    margin: 40px auto 0 10px;
    background-color: #f1bb51;
    color: #3c2e51;
    text-decoration: none;
    padding: 10px 20px ;
    transition: background-color 1s;

}


a:hover{
	background-color: #F39C12 ;
}

}











/*------  -----  ---- mobil ----  ---- ----- */


@media only screen and (max-width: 550px){

	body{
		overflow: auto;
	}




.header_conteiner{
	width: 100%;
	height: 6vw;
	background-color: #fff;
	


}


.section_conteiner{
	width: 100%;
	height: 100em;
	background-color:#43256f;
	margin-bottom: 30px ;

	
	
	

}


 h6{
    font-size: 1em;
    margin: 2px auto 10px;
    letter-spacing: 4px;
	font-weight: 800;
	font-family: 'PT Sans', sans-serif !important;
	padding-top: 10px;
	color: #f1bb51;
	word-wrap: break-word;
	position: relative;
	display: table;

}


h2{
	
	font-size: 1.7rem;
	letter-spacing: 6px;
	font-weight: 700;
	margin: 10px auto 10px ;
	font-family: Raleway, sans-serif;
	color: #ffffff;
	width: 40%;

	
}


.barra_amarilla{
	width: 150px;
	height: 1px;
	transform-origin: right center;
	margin: 20px auto 10px;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;
	border-color: #f1bb51;
	border-width: 2px;
	border-style:solid;
	background-color:#f1bb51;
}



.conteiner_imagenes{
	display: grid;
	grid-template-columns:100%;
	grid-gap: 30px;
	margin: 20px 0 0;
	width: 100% ;
	
	

}



.conteiner_imagenes_div1{
    display: block;
    position: relative;
    width: 90%;
	height: 28em;
	background-color:#633974 ;
	margin: auto;
	
	
  
}

.imagen1{

	display: block;
	object-fit: cover;
	vertical-align: middle;
	position: relative;
	border-width: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 180px;
	margin: 15px auto;
	overflow: hidden;
	width:90%;
}


.texth3{
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 1.775rem;
	margin: 10px auto 0 11px;
	font-family: Raleway, sans-serif !important;
	color: #f1bb51 ;
	word-wrap: break-word;
	position: relative;
}


.textp{
	font-style: italic;
	font-weight: 300;
	margin: 10px auto 0 11px;
	padding-bottom: 40px;
	color: #fff;

}



a{ 

	background-image: none;
    border-style: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 2px;
    margin: 40px auto 0 10px;
    background-color: #f1bb51;
    color: #3c2e51;
    text-decoration: none;
    padding: 10px 20px ;
    transition: background-color 1s;

}

a:hover{
	background-color: #F39C19 ;
}


}




















	


